In [2]:
import pandas as pd
print("Pandas works")

Pandas works

In [3]:
import sklearn
print("Scikit-learn works")

Scikit-learn works

In [4]:
!pip install pandas numpy scikit-learn matplotlib seaborn

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: pandas in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: scikit-learn in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (1.7.2)
Requirement already satisfied: matplotlib in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (3.10.6)
Requirement already satisfied: seaborn in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/anaconda-2025.12-py312/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import pandas as pd

data = {
    "Income": [3000, 4000, 5000, 6000],
    "CreditScore": [650, 700, 750, 800],
    "LoanStatus": [0, 0, 1, 1]
}

df = pd.DataFrame(data)
df

   Income  CreditScore  LoanStatus
0    3000          650           0
1    4000          700           0
2    5000          750           1
3    6000          800           1

In [6]:
from sklearn.linear_model import LogisticRegression

X = df[["Income", "CreditScore"]]
y = df["LoanStatus"]

model = LogisticRegression()
model.fit(X, y)

print("Model trained successfully")

Model trained successfully

In [7]:
import pandas as pd

data = {
    "Income": [3000, 4000, 5000, 6000, 3500, 4500, 5500, 6500],
    "CreditScore": [650, 700, 750, 800, 680, 720, 770, 820],
    "EmploymentYears": [1, 2, 4, 6, 2, 3, 5, 7],
    "LoanAmount": [100000, 150000, 200000, 250000, 120000, 170000, 220000, 280000],
    "LoanStatus": [0, 0, 1, 1, 0, 1, 1, 1]
}

df = pd.DataFrame(data)
df

   Income  CreditScore  EmploymentYears  LoanAmount  LoanStatus
0    3000          650                1      100000           0
1    4000          700                2      150000           0
2    5000          750                4      200000           1
3    6000          800                6      250000           1
4    3500          680                2      120000           0
5    4500          720                3      170000           1
6    5500          770                5      220000           1
7    6500          820                7      280000           1

In [8]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Income           8 non-null      int64
 1   CreditScore      8 non-null      int64
 2   EmploymentYears  8 non-null      int64
 3   LoanAmount       8 non-null      int64
 4   LoanStatus       8 non-null      int64
dtypes: int64(5)
memory usage: 452.0 bytes

            Income  CreditScore  EmploymentYears     LoanAmount  LoanStatus
count     8.000000     8.000000          8.00000       8.000000    8.000000
mean   4750.000000   736.250000          3.75000  186250.000000    0.625000
std    1224.744871    59.266348          2.12132   62777.953364    0.517549
min    3000.000000   650.000000          1.00000  100000.000000    0.000000
25%    3875.000000   695.000000          2.00000  142500.000000    0.000000
50%    4750.000000   735.000000          3.50000  185000.000000    1.000000
75%    5625.000000   777.500000          5.25000  227500.000000    1.000000
max    6500.000000   820.000000          7.00000  280000.000000    1.000000

In [9]:
X = df[["Income", "CreditScore", "EmploymentYears", "LoanAmount"]]
y = df["LoanStatus"]

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=42
)

In [12]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

print("Model trained successfully")

Model trained successfully

In [13]:
y_pred = model.predict(X_test)
y_pred

array([0, 1])

In [14]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 1.0

Confusion Matrix:
 [[1 0]
 [0 1]]

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         1

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2